# Anypoint Studio
.target/
.classpath
.project
.settings/
bin/

# Mule runtime & local runs
.mule/
*.log

# Local deployment artifacts
deployments/
archive/

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*~

# Dependencies (optional — some teams exclude, some include)
src/test/resources/libs/
lib/

# Local AnyPoint credentials (CRITICAL!)
./.anypoint/
anypoint.yml

# Never commit any real credentials or local configs
src/main/resources/application.yaml
src/main/resources/config-*.yaml
src/main/resources/*.properties
!src/main/resources/config-template.yaml

# Maven / Anypoint Studio build output – NEVER commit
target/
.metadata